<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ensi.pcd.ourdeal">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <activity
        android:name=".Activities.InputsActivity"
        android:windowSoftInputMode="adjustResize|stateHidden" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Accueil"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Apropos"
            android:parentActivityName=".Accueil" />
        <activity
            android:name=".Ajouter_annonce"
            android:parentActivityName=".Accueil" />
        <activity
            android:name=".Parametres"
            android:label="@string/title_activity_parametres"
            android:parentActivityName=".Accueil" />
        <activity android:name=".DetailActivity" />
        <activity android:name=".MessageActivity" />
        <activity
            android:name=".AdhocActivity"
            android:theme="@style/AppTheme.NoActionBar">
            >
        </activity>
        <activity android:name=".Recherche"
            android:parentActivityName=".Accueil"></activity>
    </application>

</manifest>